#s-7c5e8e3a-45d3-4b78-a81f-9f367a683828 > #backgroundBox {
  position: absolute;
}

#s-7c5e8e3a-45d3-4b78-a81f-9f367a683828 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}

#s-7c5e8e3a-45d3-4b78-a81f-9f367a683828 #s-Image .imageViewport > * {
  width: 175.98522167487695%;
  height: 115.19999999999997%;
  left: -49.87684729064044%;
  top: -6.40000000000003%;
}

#s-7c5e8e3a-45d3-4b78-a81f-9f367a683828 #s-Image {
  position: absolute;
  width: 811.9999999999994px;
  height: 375.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-7c5e8e3a-45d3-4b78-a81f-9f367a683828 #s-Image {
  box-shadow: none;
}

#s-7c5e8e3a-45d3-4b78-a81f-9f367a683828 #s-Paragraph {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Apple Chancery',Arial;
}

_:-ms-fullscreen, :root #s-7c5e8e3a-45d3-4b78-a81f-9f367a683828 #s-Paragraph {
  box-shadow: none;
}

#s-7c5e8e3a-45d3-4b78-a81f-9f367a683828 #s-Paragraph > .backgroundLayer > .colorLayer {
  background-color: rgba(0,0,0,0.6);
}

#s-7c5e8e3a-45d3-4b78-a81f-9f367a683828 #s-Paragraph .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-7c5e8e3a-45d3-4b78-a81f-9f367a683828 #s-Paragraph .valign {
  vertical-align: top;
  text-align: center;
}

#s-7c5e8e3a-45d3-4b78-a81f-9f367a683828 #s-Paragraph span {
  color: #FF0000;
  text-align: center;
  text-decoration: underline;
  font-family: 'Apple Chancery',Arial;
  font-size: 27.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7c5e8e3a-45d3-4b78-a81f-9f367a683828 #s-Paragraph span#rtr-s-Paragraph_0 {
  color: #FF0000;
  text-decoration: underline;
  font-family: 'Apple Chancery',Arial;
  font-size: 27.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7c5e8e3a-45d3-4b78-a81f-9f367a683828 #s-Paragraph span#rtr-s-Paragraph_1 {
  color: #FF0000;
  text-decoration: none;
  font-family: 'Apple Chancery',Arial;
  font-size: 27.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7c5e8e3a-45d3-4b78-a81f-9f367a683828 #s-Image_32 {
  position: absolute;
  width: 50.0px;
  height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-7c5e8e3a-45d3-4b78-a81f-9f367a683828 #s-Image_32 {
  box-shadow: none;
}

#s-7c5e8e3a-45d3-4b78-a81f-9f367a683828 #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Apple Chancery',Arial;
}

_:-ms-fullscreen, :root #s-7c5e8e3a-45d3-4b78-a81f-9f367a683828 #s-Paragraph_3 {
  box-shadow: none;
}

#s-7c5e8e3a-45d3-4b78-a81f-9f367a683828 #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-7c5e8e3a-45d3-4b78-a81f-9f367a683828 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}

#s-7c5e8e3a-45d3-4b78-a81f-9f367a683828 #s-Paragraph_3 span {
  color: #FEE94E;
  text-align: left;
  text-decoration: none;
  font-family: 'Apple Chancery',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-7c5e8e3a-45d3-4b78-a81f-9f367a683828 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #FEE94E;
  text-decoration: none;
  font-family: 'Apple Chancery',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-7c5e8e3a-45d3-4b78-a81f-9f367a683828 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
