#s-d2ba26ba-2e18-4e84-a022-cd24bdb615aa > #backgroundBox {
  position: absolute;
}

#s-d2ba26ba-2e18-4e84-a022-cd24bdb615aa > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}

#s-d2ba26ba-2e18-4e84-a022-cd24bdb615aa #s-Image .imageViewport > * {
  width: 145.56650246305432%;
  height: 100.00000000000004%;
  left: -0.0%;
  top: -0.0%;
}

#s-d2ba26ba-2e18-4e84-a022-cd24bdb615aa #s-Image {
  position: absolute;
  width: 811.9999999999993px;
  height: 375.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d2ba26ba-2e18-4e84-a022-cd24bdb615aa #s-Image {
  box-shadow: none;
}

#s-d2ba26ba-2e18-4e84-a022-cd24bdb615aa #s-Image_1 {
  position: absolute;
  width: 284.00000000000057px;
  height: 262.6212339757809px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d2ba26ba-2e18-4e84-a022-cd24bdb615aa #s-Image_1 {
  box-shadow: none;
}

#s-d2ba26ba-2e18-4e84-a022-cd24bdb615aa #s-Paragraph {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Apple Chancery',Arial;
}

_:-ms-fullscreen, :root #s-d2ba26ba-2e18-4e84-a022-cd24bdb615aa #s-Paragraph {
  box-shadow: none;
}

#s-d2ba26ba-2e18-4e84-a022-cd24bdb615aa #s-Paragraph .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d2ba26ba-2e18-4e84-a022-cd24bdb615aa #s-Paragraph .valign {
  vertical-align: top;
  text-align: left;
}

#s-d2ba26ba-2e18-4e84-a022-cd24bdb615aa #s-Paragraph span {
  color: #FEE94E;
  text-align: left;
  text-decoration: underline;
  font-family: 'Apple Chancery',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-d2ba26ba-2e18-4e84-a022-cd24bdb615aa #s-Paragraph span#rtr-s-Paragraph_0 {
  color: #FEE94E;
  text-decoration: underline;
  font-family: 'Apple Chancery',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-d2ba26ba-2e18-4e84-a022-cd24bdb615aa #s-Paragraph span#rtr-s-Paragraph_1 {
  color: #FEE94E;
  text-decoration: none;
  font-family: 'Apple Chancery',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-d2ba26ba-2e18-4e84-a022-cd24bdb615aa #s-Paragraph span#rtr-s-Paragraph_2 {
  color: #FEE94E;
  text-decoration: line-through;
  font-family: 'Apple Chancery',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-d2ba26ba-2e18-4e84-a022-cd24bdb615aa #s-Paragraph span#rtr-s-Paragraph_3 {
  color: #FEE94E;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-d2ba26ba-2e18-4e84-a022-cd24bdb615aa #s-Paragraph span#rtr-s-Paragraph_4 {
  color: #FEE94E;
  text-decoration: none;
  font-family: 'Apple Chancery',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-d2ba26ba-2e18-4e84-a022-cd24bdb615aa #s-Image_28 {
  position: absolute;
  width: 11.999999999999773px;
  height: 12.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d2ba26ba-2e18-4e84-a022-cd24bdb615aa #s-Image_28 {
  box-shadow: none;
}

#s-d2ba26ba-2e18-4e84-a022-cd24bdb615aa #s-Image_30 {
  position: absolute;
  width: 12.0px;
  height: 12.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d2ba26ba-2e18-4e84-a022-cd24bdb615aa #s-Image_30 {
  box-shadow: none;
}

#s-d2ba26ba-2e18-4e84-a022-cd24bdb615aa #s-Image_31 {
  position: absolute;
  width: 12.0px;
  height: 12.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d2ba26ba-2e18-4e84-a022-cd24bdb615aa #s-Image_31 {
  box-shadow: none;
}

#s-d2ba26ba-2e18-4e84-a022-cd24bdb615aa #s-Image_32 {
  position: absolute;
  width: 31.999999999999986px;
  height: 34.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d2ba26ba-2e18-4e84-a022-cd24bdb615aa #s-Image_32 {
  box-shadow: none;
}

#s-d2ba26ba-2e18-4e84-a022-cd24bdb615aa #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Apple Chancery',Arial;
}

_:-ms-fullscreen, :root #s-d2ba26ba-2e18-4e84-a022-cd24bdb615aa #s-Paragraph_1 {
  box-shadow: none;
}

#s-d2ba26ba-2e18-4e84-a022-cd24bdb615aa #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d2ba26ba-2e18-4e84-a022-cd24bdb615aa #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-d2ba26ba-2e18-4e84-a022-cd24bdb615aa #s-Paragraph_1 span {
  color: #FEE94E;
  text-align: left;
  text-decoration: none;
  font-family: 'Apple Chancery',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d2ba26ba-2e18-4e84-a022-cd24bdb615aa #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #FEE94E;
  text-decoration: none;
  font-family: 'Apple Chancery',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d2ba26ba-2e18-4e84-a022-cd24bdb615aa #s-Button {
  position: absolute;
  width: 150.5205078124999px;
  min-height: 59.9292059946938px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Apple Chancery',Arial;
}

_:-ms-fullscreen, :root #s-d2ba26ba-2e18-4e84-a022-cd24bdb615aa #s-Button {
  box-shadow: none;
}

#s-d2ba26ba-2e18-4e84-a022-cd24bdb615aa #s-Button > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
}

#s-d2ba26ba-2e18-4e84-a022-cd24bdb615aa #s-Button .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d2ba26ba-2e18-4e84-a022-cd24bdb615aa #s-Button .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d2ba26ba-2e18-4e84-a022-cd24bdb615aa #s-Button span {
  color: #FEE94E;
  text-align: center;
  text-decoration: none;
  font-family: 'Apple Chancery',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-d2ba26ba-2e18-4e84-a022-cd24bdb615aa #s-Button span#rtr-s-Button_0 {
  color: #FEE94E;
  text-decoration: none;
  font-family: 'Apple Chancery',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-d2ba26ba-2e18-4e84-a022-cd24bdb615aa > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
